@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to the ISF Invoice Application</h2>
<a href="home/register">Click here to register for an account</a>
<br/>
<a href="home/login">Click here to login</a>
