@model ISFInvoiceApplication.Web.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login into the ISF Invoice Application</h2>

<form method="POST" action="/home/login">
    @Html.AntiForgeryToken()
    <label>Username: </label><input type="text" name="Username"/>
    <br/><br/>
    <label>Password: </label><input type="password" name="Password"/>
    <br/><br/>
    <input type="submit" value="Login"/>
</form>
<br/>
<a href="/home">Go back to the home page</a>
<br/>
<a href="/home/register">Don't have an account?</a>
