@model ISFInvoiceApplication.Web.Models.RegistrationViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Register for the ISF Invoice Application</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <label>Username: </label>@Html.TextBoxFor(model => model.Username, new { Class = "form-control", Required = "True" })


    <br /><br />
    <label>Password: </label>@Html.TextBoxFor(model => model.Password, new { Class = "form-control", Required = "True", Type = "password" })

    <br /><br />
    <label>Email: </label>@Html.TextBoxFor(model => model.Email, new { Class = "form-control", Required = "True" })

    <br /><br />
    <input type="submit" value="Register" />
}
    

<br />
<a href="/home">Go back to the home page</a>


